<!DOCTYPE html>
<html>
	<head>
		<title>Bataille navale</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>
		<h1>Jeu de Bataille Navale</h1>
		
		<div id="wrapper">
			<form id="formulaire_connexion">
				<input type="text" name="nom_joueur" id="nom_joueur" />
				<input type="submit" value="Se connecter"/>
			</form>
			
		</div>

		<script src="/socket.io/socket.io.js"></script>
		<script src="js/jquery.js"></script>
		<script src="js/script.js"></script>
	</body>
</html>